@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --yellow: #fefa65;
    --green: #00a726;
    --pink: #e7499a;
    --blue: #0191d7;
    --orange: #f6923b;
    --purple: #ad78d5;
    --black: #333333;
    --orange: #ffb000;
    --black-transparent: #333333ca;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}

.main-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  
}


/* Navbar */
.nav {
  background-color: var(--black-transparent);
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;

  
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.nav-logo img {
  width: 10rem;
  height: auto;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
}

.nav-link:hover {
  color: var(--yellow);
  object-fit: cover;
}

/*Intro section*/
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 7rem;

}

.intro-section img {
    width: 100%;
    height: auto;

}


/* About us */

.info-container {
    margin-top: 2rem;
    text-align: center;
}

.info-container h2 {
    font-size: 2.4rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.info-container p {
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 1rem;
}

.cards_container {
    display: flex;
    gap: 1rem; /* Espacio entre las tarjetas */
    justify-content: space-around; /* Distribuir las tarjetas equitativamente */
    flex-direction: row;
    padding: 20px;
  }

  .card-main {
    position: relative;
    width: 46%; /* Ancho de la tarjeta */
    height: 56rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}


  .card-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  
  .card {
    position: relative;
    width: 15%; /* Ancho de la tarjeta */
    height: 56rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    color: white;
  }
  
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .titulo-main {
    position: absolute;
    bottom: 20rem;
    left: 3rem;
    font-size: 2.4rem;
    color: #f7b527;
  }

  .titulo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 4.8rem;
    margin-bottom: 2rem;
    color: white;
  }
  
  .backgoud-black{
    background-color: var(--black);
    display: block;
    width: 100%;
  }
  .card-main p{
    width: 90%;
    position: absolute; 
    font-size: 2rem;
    bottom: 4rem;
    left: 20px;
    margin: 0;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
  }
  .card p {
    position: absolute;
    font-size: 2rem;
    bottom: 10px;
    left: 20px;
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:nth-child(1) {
    background-image: url('your-image-path-1.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .card:nth-child(2) {
    background-image: url('your-image-path-2.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .card:nth-child(3) {
    background-image: url('your-image-path-3.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .card:nth-child(4) {
    background-image: url('your-image-path-4.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .card:nth-child(5) {
    background-image: url('your-image-path-5.jpg');
    background-size: cover;
    background-position: center;
  }

/*Solutions*/

.plans-section-item{
  margin: 0 auto;
  margin-top: 11.6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  align-items: center;
  color: var(--black);
}

.plans-section-item h3{
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.plans-section-item p{
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.solutions-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.cards-container-solutions{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.card-2{
  background: linear-gradient(to bottom, rgba(255,255,255,0) 5%, rgba(0,0,0,0.7) 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  text-align: center;
  color: white;
  padding: 20px;
  background-color: #FEFA65;
}

.card-image {
  width: 100%;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}

.card-content h2 {
  font-size: 18px;
  margin: 15px 0;
}

.card-content p {
  font-size: 14px;
  line-height: 1.5;
}

.card-button {
  background-color: #fdbb4c;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-button:hover {
  background-color: #e0a837;
}
  
/* Plans section */
.plans-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    margin-top: 2rem;
}

.plans-container-text{
  display: flex;
  flex-direction: column;
  width: 100%; 
  padding-top: 13.5rem;
  padding-bottom: 5.3rem;
}

.plans-container-text h3{
  font-size: 3.5rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.plans-container-text p{
  font-size: 1.5rem;
  margin: 0 auto;
}



.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.5rem;
    margin-bottom: 18rem;
}

.plans-buttons{

    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    width: 18rem;
    height: 6.8rem;
    border-radius: 2.5rem;
    background-color: var(--orange);
    border:none;
    
}

.plans-btn-container{
  width: 100%;
  margin-left: 12rem;
  display: flex;
  justify-content: flex-start;
  
}

.btn{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    width: 18rem;
    height: 6.8rem;
    border-radius: 2.5rem;
    background-color: var(--orange);
    border:none;
    margin-right: 1rem;
}


.container-plans{
  width: 100%;
  height: 46.9rem;
  /* top: 42rem; */
  border-radius: 3rem;
  background-color: var(--orange);
  display: flex;
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: row; */
  gap: 2rem;
  margin-top: -2rem;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}

.image-container img {
  width: 85%;
  height: 85%;
}

.social-impact-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #0191d7;
  margin-top: 10.6rem;
}

.social-impact-content{
  display: flex;
  justify-content: center;
  
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 0 auto;
  padding: 4rem;
  width: 50%;
}

.social-impact-title{
  font-size: 3.5rem;
  color: white;
  margin: 0 auto;
  font-weight: bold;
  margin-top: 4rem;
}

.social-impact-content p{
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.social-impact-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.social-impact-container-img{
  width: 90%;
  height: 90%;
  border-radius: 1.5rem;
  background-color: white;
}


/* scroll-image */
.container-scroll-imge {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.image-left {
  background-image: url('../img/backgoud.jpeg'); /* Cambia a la URL de tu imagen izquierda */
}

.image-right {
  background-image: url('../img/frame.jpeg'); /* Cambia a la URL de tu imagen derecha */
  width: 50%;
  right: 0;
  left: auto;
  transition: width 0.3s ease;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: rgba(255, 255, 255, 0.5);
  cursor: ew-resize;
  left: 50%;
  transform: translateX(-50%);
}


/* Footer */

.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--black);
  color: white;
  padding: 4rem;
}

